
.mainbox {
  color:white;
  background-color :brown;
  width:600px;
  height:auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px 10px;
  padding: 30px;
  text-align: center;
}
.HeadingSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Content{
  width: 85%;
  height: auto;
}
